.Banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("../Assets/116e36b240bac6e6e02d3f538b9d174d52a575ee.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Banner-content {  
  text-align: center;
  color: rgb(1, 49, 11);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
  
}

.Banner-content h1 {
  font-size: 77px;
  margin-bottom: 12px;
}

.Banner-content p {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.estudante-container {
  width: 100%;
  background-color: #1a3c34;
  padding: 60px 0;        
  display: flex;
  justify-content: center;
  align-items: center;   
}

.imagem-estudante {
  width: 90%;              
  max-width: 1000px;       
  height: auto;
  border-radius: 25px;     
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4); 
  display: block;
  object-fit: cover;     
}