.container-cursos {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 15px;
  height: 600px; 
}

.card-curso {
  width: 180px;
  height: 350px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  font-style: normal;
  position: relative;
  box-shadow: inset 0 -120px 80px -20px rgba(26, 48, 42, 0.9);
}

.cima { align-self: flex-start; }
.baixo { align-self: flex-end; }

.curso strong {
  color: white;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 0.8;
  word-spacing: 100vw; 
  text-transform: uppercase;
}