.container-cursos {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  min-height: 800px; 
  background-color: #1a3c34; 
  padding: 160px 0 80px 0; 
  position: relative;
  padding: 180px 0 80px 0;
  flex-direction: column; 
  justify-content: flex-start;
  gap: 250px; 
}

.curso-secao {
  position: absolute;
  top: 30px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;       
  color: white;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.card-curso {
  width: 300px;
  height: 470px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-color: white; 
}

.grupo-cards {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.card-curso::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: linear-gradient(to bottom, transparent 40%, rgba(0,0,0,0.8) 100%);
  z-index: 1;
}

.cima { 
align-self: flex-start;
transform: translateY(-40px);
}
.baixo { 
align-self: flex-end;
transform: translateY(40px);
}

.card-curso strong {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.9;
  z-index: 2; 
  width: min-content;
  text-transform: uppercase;
}

.destaque-educacao {
  width: 100%;             
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0;            
  margin-top: 50px;
  overflow: visible;     
}

.imagem-educacao {
  width: 90vw; 
  max-width: 1500px;
  height: auto;     
  display: block;
  margin: 0 auto;   
  border-radius: 30px;
  flex-shrink: 0;   
}