.destaques {
  padding: 80px 60px;
}

.destaques h2 {
  margin-bottom: 30px;
  font-size: 26px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #f3f3f3;
  padding: 40px;
  border-radius: 20px;
  font-weight: bold;
}