.destaques {
  padding: 40px 0; 
  background: transparent; 
  width: 90%;
  max-width: 1100px;
  margin: 0 auto; 
}

.destaques h2 {
  margin-bottom: 30px;
 font-size: 30px;
  color: #000000;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #f3f3f3; 
  padding: 40px;
  border-radius: 20px;
  font-weight: bold;
  color: #333; 
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  background: #ffffff;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}